/venv/
/.venv/
/.idea/
/.vscode/
**/__pycache__/
*.pyc
.DS_Store
/.direnv/
/.gemini/
!/results/summary.md
!/results/summary_llm.md
/results/prompting/
/results/finetuning/
/results/baselines/
*Zone.Identifier
